<div class="jumbotron">
  <p class="lead">
    <img src="images/logo.png" alt="Logotype"><br>
  </p>
  <h1>Easy way to write pretty resume</h1>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Start</span></a></p>
</div>

<div class="row marketing">
  <h4>Lorem ipsum Lorem ipsum</h4>
  <p>
    Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum Lorem ipsum dolor sit amet
  </p>

  <h4>Lorem ipsum</h4>
  <p>
    Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum Lorem ipsum dolor sit amet
  </p>

  <h4>Lorem ipsum</h4>
  <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum Lorem ipsum dolor sit amet</p>
</div>
